src/flows/Order_Processing_Flow-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Conversion_to_Chatter</name>
        <label>Post Conversion to Chatter</label>
        <locationX>705</locationX>
        <locationY>143</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterText</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Order_Item_to_Order_Items_Collection</name>
        <label>Add Order Item to Order Items Collection</label>
        <locationX>423</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>OrderLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunity_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Order_Item</name>
        <label>Create Order Item</label>
        <locationX>280</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>CurrentOrderItem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOpportunityLineItem.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOpportunityLineItem.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOpportunityLineItem.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOpportunityLineItem.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOpportunityLineItem.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Item_to_Order_Items_Collection</targetReference>
        </connector>
    </assignments>
    <description>Flow for processing opportunities into orders</description>
    <interviewLabel>Order Processing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Processing Flow</label>
    <loops>
        <name>Loop_Through_Opportunity_Line_Items</name>
        <label>Loop Through Opportunity Line Items</label>
        <locationX>349</locationX>
        <locationY>142</locationY>
        <assignNextValueToReference>CurrentOpportunityLineItem</assignNextValueToReference>
        <collectionReference>QueriedOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Order_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>33</locationX>
        <locationY>142</locationY>
        <assignRecordIdToReference>CreatedOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Opportunity_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Opportunity.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Opportunity.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderReferenceNumber</field>
            <value>
                <elementReference>Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Opportunity.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Items</name>
        <label>Create Order Items</label>
        <locationX>550</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>Post_Conversion_to_Chatter</targetReference>
        </connector>
        <inputReference>OrderLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Opportunity_Line_Items</name>
        <label>Lookup Opportunity Line Items</label>
        <locationX>189</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opportunity_Line_Items</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>QueriedOpportunityLineItems</outputReference>
        <queriedFields>Description</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>SortOrder</queriedFields>
        <queriedFields>Subtotal</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <startElementReference>Create_Order</startElementReference>
    <textTemplates>
        <name>ChatterText</name>
        <text>Opportunity converted to Order: {!CreatedOrderId}</text>
    </textTemplates>
    <variables>
        <description>Order Id Created as part of this flow</description>
        <name>CreatedOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current Opportunity Line Item</description>
        <name>CurrentOpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Current Order Item that is been iterated over</description>
        <name>CurrentOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>The Opportunity passed in from the Process</description>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Collection of Order Items</description>
        <name>OrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>Queried OpportunityLineItems</description>
        <name>QueriedOpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
